<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Toy App</title>
</head>
<body>

    <form action="/client" method="POST">
        Name: <input type="text" placeholder="Jane Doe" name="name">
        Email: <input type="text" placeholder="email@server.com" name="email">
        Number of Requests: <input type="number" placeholder="0" name="requests">
        <button type="submit">Create client</button>
    </form>
    
    
    <table>
        <%if (clients.length > 0) { %>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Requests </th>
        </tr>
        <% } %>
        <% for(var i=0; i < clients.length; i++) {%>
            <tr>
                 <td><%= clients[i].name %></td>
                 <td><%= clients[i].email %></td>
                 <td><%= clients[i].requests %></td>
                 <td>
                    <a href="/clients/delete?email=<%= clients[i].email %>">
                    Delete 
                    </a> 
                </td>
            </tr>
        <% } %>
    </table>

</body>
</html>
